<li class="media well">
    {% if request.attributes.get('_user') and request.attributes.get('_user').id == survey.ownerId %}
    <a class="close" data-dismiss="alert" href="{{ route('survey_delete', {'survey_id': survey.id}) }}">&times;</a>
    {% endif %}

    <div class="survey media-body">
        <h4 class="media-heading">{{ survey.question }}</h4>

        {% for response in survey.responses %}
        <div class="fluid-row">
            <div class="span2">{{ response.title }}</div>
            <div class="span2 progress progress-striped active">
                <div class="bar" style="width: {{ response.percentage }}%"></div>
            </div>
            <span class="span1">({{ response.percentage }}%)</span>


            <form class="span1" method="post" action="{{ route('survey_vote', {'survey_id': survey.id}) }}">
                <input type="hidden" name="responseId" value="{{ response.id}}" />
                <input type="submit" style="margin-left:5px" class="span1 btn btn-small btn-danger" value="Voter" />
            </form>
        </div>
        {% endfor %}

        <h4 class="media-heading">Discussion</h4>

        <div class="fluid-row">
            {% for comment in survey.comments %}
                <blockquote class="span6 comment">
                    <img src="{{ comment.user.mail|gravatar }}" class="img-polaroid pull-right">
                    <p>{{ comment.comment|nl2br }}</p>
                    <small>{{ comment.user }}, le {{ comment.createdAt|date('d/m/Y \à H:i') }}.</small>
                </blockquote>
            {% else %}
                <p class="span6">Rien pour le moment !</p>
            {% endfor %}
        </div>

        {% if request.attributes.get('_user') %}
        <h4 class="media-heading">Réagir</h4>

        <div class="fluid-row">
            <form class="span6" method="post" action="{{ route('survey_comment', {'survey_id': survey.id}) }}">
                {% if errors is defined and request.attributes.get('survey_id') == survey.id %}
                <div class="alert alert-error">
                    <ul>
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}

                 <div class="control-group">
                     <div class="controls">
                        <textarea name="comment"></textarea>
                     </div>
                 </div>
                 <div class="control-group">
                     <div class="controls">
                        <input type="submit" class="btn btn-small btn-primary" value="Envoyer" />
                     </div>
                 </div>
            </form>
        </div>
        {% endif %}
    </div>
</li>
